body{
    background-color: lightgray;
}

.navbar-brand{
    font-size: 25px;
    margin-right: 2em;
}
.nav-item{
    font-size: 12px;
}
h1{
    font-family: 'anton regular', sans-serif;
}
.icon-row{
    display: flex;
    position: absolute;
    top:200px;
    left:580px;

}

